div {
    text-align: center;
}
p{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}
.button1{
    background-color:rgb(10, 00, 20);
    color: rgb(240, 248, 255);
    font-size: 130%;
    border-radius: 10%;
    border-color: aliceblue;
}
.column1{
    float: left;
    width: 50%;
}
.column2{
    float: right;
    width: 50%;
}
canvas{
    width: 90%;
    height:90%;
}
.slider-square{
    color: aliceblue;
    appearance: none;
    width:100%;
    opacity:.7;
}
.slider-square:hover{
    opacity: .8;
}
.slider-square::-webkit-slider-thumb{
    appearance: none;
    height: 15px;
    width: 15px;
    color: black;
    background: #878790;
    cursor: pointer;
}
