div {
    text-align: center;
}
.pdescription{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    margin-top: 5px;
    margin-bottom: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.pdescription2{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:auto;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 9px;
    float: right;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.pdescription3{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.pmini{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.header1{
    color: rgb(189, 207, 222);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 0%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.button1{
    background-color:rgb(10, 00, 20);
    color: aliceblue;
    font-size: 13px;
    border-radius: 10%;
    border-width: 1.6px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-color: rgb(171, 177, 183);
    float:left;
    border-style:solid;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.button1:hover{
    background-color: #4d5461;
}
.button2{
    background-color:rgb(10, 00, 20);
    color: aliceblue;
    font-size: 16;
    border-radius: 10px;
    border-width: 1.6px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(171, 177, 183);
    float:none;
    border-style:solid;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.button2:hover{
    background-color: #4d5461;
}
.button3{
    background-color:rgb(10, 00, 20);
    color: aliceblue;
    font-size: 13px;
    border-radius: 10px;
    border-width: 1.6px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(171, 177, 183);
    float:inherit;
    border-style:solid;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.button3:hover{
    background-color: #4d5461;
}
.column1{
    float: left;
    width: 48%;
    max-height:min-content
}
.column2{
    float: right;
    width: 52%;
    height:100%;
}
canvas{
    width: 70%;
    aspect-ratio: 1/1;
    max-height:min-content;
    margin: auto;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.slider-container{
    float: left;
    width: 100%;
    height: 80%;
    background-color: #161717;
    border-style:solid;
    border-color: #878790;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.slider-container2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
}
.slider-container-sub{
    margin-left: 0px;
    float:auto
}
.slider-square{
    float: right;
    color: aliceblue;
    appearance: none;
    width:70%;
    opacity:.7;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slider-square:hover{
    opacity: .8;
}
.slider-square::-webkit-slider-thumb{
    appearance: none;
    height: 10px;
    width: 10px;
    color: black;
    background: #878790;
    cursor: pointer;
}
.slider-square::-webkit-slider-thumb:hover{
    opacity: .8;
}

.pendCanvas1{
    aspect-ratio: 1/1;
    width: 0%;
    height: 0%;
    margin: auto;
}